body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/booking.webp');
    background-size: cover;
}

.booking {
    position: absolute;
    padding: 20px;
    width: 40%;
    top: 20%;
    left: 5%;
}

.booking-input h1 {
    color: white;
}

.booking-input {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 15px;
    width: 45%;
    height: 45%;
    left: 65%;
}

.booking-input label  {
    color: white;
}

#tombol_booking {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid white;
    color: white;
    background-color: blue;
    width: 25%;
    left: 30%;
}