body {
    background-color: red;
}

.reservasi {
    position: absolute;
    padding: 20px;
    border-radius: 15px;
    border: 5px solid black;
    width: 45%;
    height: 50%;
    bottom:20%;
    top: 20%;
    left: 25%;
    background-color: white;
}

.gambar-jam img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.gambar-meja img {
    position: absolute;
    top: 63%;
    left: 0;
    width: 20%;
}

.gambar-antri img {
    position: absolute;
    top: 70%;
    right: 0;        
    width: 20%;
}

.gambar-price img {
    position: absolute;
    right: 20px;
    top: 20px;
}

.input-reservasi {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    height: 70%;
    margin-left: 10%;
    top: 30%;
}

#tombol-booking {
    display: flex;
    background-color: blue;
    color: white;
    flex-direction: column;
    padding: 10px;
    border: 5px solid white;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-left: 220px;
}